.col-md-6.col-md-offset-3
  .panel.panel-info
    .panel-heading Upload fichier Contact
    .panel-body
      = form_tag '/upload', multipart: true, remote: true do
        = file_field_tag :file
        = submit_tag "Import"

