- if user_signed_in?
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %a.navbar-brand{:href => "#"}
          Sparkup TEST
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Upload", new_upload_path, :method => :get
        %li= link_to "Sign out", destroy_user_session_path, :method => :delete